{% extends 'main.html' %}

{% block content %}

    <div style="padding-left:16px">
        <h1>Lend a Toy</h1>
        <form action="/toyupload_user" method="POST" enctype="multipart/form-data">
            <p>ToyName:    <input type="text" name=toyname></p>
             <p>Age Level:     <select name="agedropdown">
                <option value="Infant(0-12 months)">Infant(0-12 months)</option>
                <option value="Toddler(1-3 years)">Toddler(1-3 years)</option>
                <option value="Preschool(3-5 years)">Preschool(3-5 years)</option>
                <option value="Gradeschool(5-12 years)">Gradeschool(5-12 years)</option>
                <option value="Teen(12-18 years)">Teen(12-18 years)</option>
            </select>
            </p>
            <p>
            Category:      <select name="catdropdown">
                <option value="ArtsandCrafts">Arts and Crafts</option>
                <option value="Construction">Construction</option>
                <option value="Dolls">Dolls</option>
                <option value="Educational">Educational</option>
                <option value="Electronic">Electronic</option>
                <option value="Puzzles">Puzzles</option>
            </select>

            </p>
            <p>
                Picture: <input type="file" name="pic" accept="image/*">
            </p>
        <br>
        <input type="submit" value="Lend">
       </form>
    </div>
{% endblock %}